<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
   
    <add name="AplicationConnectionString" connectionString="Data Source=LOCALHOST;Initial Catalog=SAWDB_2;Integrated Security= SSPI;User ID=Efrain;Password=efrain123456"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
  
</configuration>
