<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="IntegrarLicores" connectionString="Data Source=LOCALHOST;Initial Catalog=SAWDB_IREGUA;User ID=Integrar;Password=***;Integrated Security=False;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>