<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Conteo_InventarioEntities" connectionString="metadata=res://*/ConteoData.csdl|res://*/ConteoData.ssdl|res://*/ConteoData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MNG-12\GALACSQLX14;initial catalog=Conteo_Inventario;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ProyectConteo.Properties.Settings.Conteo_InventarioConnectionString"
      connectionString="Data Source=MNG-12\GALACSQLX14;Initial Catalog=Conteo_Inventario;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProyectConteo.Properties.Settings.Conexion_SAW" connectionString="Data Source=MNG-12\GALACSQLX14;Initial Catalog=SAWDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>